%a.brand{:href => '/'}
  = image_tag 'logo.png', :width => 60
= link_to "Who Spins?", root_path, :class => 'brand'
%ul.nav.pull-right
  - if user_signed_in?
    %li
      = link_to current_user.name, "http://www.ravelry.com/people/#{current_user.name}"
    %li
      = link_to 'Logout', logout_path
  - else
    %li
      = link_to 'Login Through Ravelry', login_path(provider: 'ravelry')
